@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

:root {
  --foreground-rgb: 70, 70, 70;
  --background-rgb: 244, 240, 232;
  --background-dots-rgb: 100, 100, 100;
}

.dark {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 25, 29, 37;
    --background-dots-rgb: 118, 120, 126;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  background-image: radial-gradient(rgb(var(--background-dots-rgb)) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}


.copy:hover::before {
  content: "Copy";
}
.copied::before {
  content: "Copied!";
}

.copy:hover::before, .copied::before {
  position: absolute;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-weight: bold;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  border-radius: 5px;
  color: rgb(34, 137, 168);
  transform: translateX(-40px);
  width: fit-content;
}

.copy:hover::after, .copied::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid rgba(255,255,255,0.8);
  transform: translateX(-33px);
}

.avatar-maker::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 40px;
  background-color: rgba(255,255,255,0.4);
  transform: rotate(-3deg) translate(-50%, -60%);
  left: 50%;
}