@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 70, 70, 70;
  --background-rgb: 244, 240, 232;
  --background-dots-rgb: 100, 100, 100;
}

[data-theme='dark'] {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 25, 29, 37;
    --background-dots-rgb: 93, 95, 102;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  background-image: radial-gradient(rgb(var(--background-dots-rgb)) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}
