@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

:root {
  --foreground-rgb: 70, 70, 70;
  --background-rgb: 244, 240, 232;
  --background-dots-rgb: 100, 100, 100;
}

.dark {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 25, 29, 37;
    --background-dots-rgb: 118, 120, 126;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  background-image: radial-gradient(rgb(var(--background-dots-rgb)) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}